
.pokemons {
    display: grid;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemons li {
    margin-bottom: 20px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
}
.number{
    opacity: 0.2;
    color: black;
    text-align: right;
}
.name{
    text-transform: capitalize;
    color: white;
    margin: 0.25rem 0;
    font-size: .625rem;
}
.detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.detail img {
    max-width: 100%;
    height: 70px;
}
.types {
    list-style: none;
    margin: 0;
    padding: 0;
}
.type{
    filter: brightness(1.1);
    font-size: 0.625rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    border-radius: 1rem;
    text-align: center;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button {
    background-color: #6c79db;
    color: white;
    border: none;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 0.875rem;

}

@media screen and (min-width: 388px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}